.section3 {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 11%;
    padding-top: 100px;
    .section3div1 {
        width: 40%;
        text-align: center;
        padding: 20px;
        h1 {
            font-size: 50px;
            position: relative;
            &::before {
                width: 80px;
                height: 2px;
                background: $col1;
                content: "";
                position: absolute;
                top: 0;
                left: calc((100% - 80px) / 2);
            }
        }
    }

    .section3div2 {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        div {
            flex: 1 1 calc(25% - 10px);
            background-color: white;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 10px;
            text-align: start;
            max-height: 250px;
            h4 {
                font-size: 24px;
            }
            p{
                text-align: start;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width:320px) {
    .section3 {
        padding-bottom: 15%;
        .section3div1 {
            width: 100%;
        }

        .section3div2 {
            width: 100%;
            div{
                flex: 1 1 calc(90% - 10px);
                
                
                
            }
        }
    }
}
@media screen and (max-width: 1023px) and (min-width:768px){
    .section3 {
        padding-bottom: 15%;
        .section3div1 {
            width: 100%;
        }

        .section3div2 {
            width: 80%;
            div{
                flex: 1 1 calc(50% - 10px);
            }
        }
    }
}